ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin: 10px;
    font-size: 18px;
}
li:hover{
    color: red;
    border-bottom:5px solid gold;
    border-radius: 5px;
    transition: .3s ease-in;
}