*{
    padding: 0;
    margin: 0;

}
.seprater{
    background-color: rgb(74, 48, 14);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    color: #fff;
}
